@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap");

body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

#app {
  display: flex;
}

#main-doc {
  width: calc(100% - 300px);
  height: auto;
  background-color: #fafafa;
  margin-left: 300px;
}

section > header {
  font-size: 22px;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  margin: 30px;
  font-weight: bold;
}

p,
ul {
  margin: 10px 25px 10px 50px;
  color: #666;
}

#navbar {
  height: 100%;
  width: 300px;
  background-color: #e8f1f5;
  overflow: scroll;
  color: #005691;
  position: fixed;
}

#nav-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0px;
  font-size: 22px;
  color: #004a7c;
}

.nav-links {
  margin-top: 0px;
}

.nav-link {
  font-family: "Muli", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  padding-left: 20px;
  background-color: #e8f1f5;
  color: #005691;
}

.nav-link:hover {
  text-decoration: underline;
}

.code {
  background-color: #eee;
  margin: 30px;
  padding: 10px;
  color: #666;
}

pre {
  background-color: #eee;
  color: #666;
  white-space: pre-wrap;
  margin: 10px 25px 10px 50px;
  padding: 5px;
}

@media (max-width: 600px) {
  #app {
    flex-direction: column;
  }

  #navbar {
    width: 100%;
    height: 200px;
  }

  #main-doc {
    width: 100%;
    margin: 0px;
  }
}
